<%= form_for(@post, :html => { :multipart => true}) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="field">
    <%= f.label :status %>
    <%= f.select(:status, options_for_select([['For Sale', 'For Sale'], ['To Buy', 'To Buy']]), {include_blank: true})  %><br />
    
  </div>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %><br />
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description %><br />
  </div>

  <div class="field">
    <%= f.label :itemtype %>
    <%= f.select(:itemtype, options_for_select([['Book', 'Book'], ['Electronics', 'Electronics'], ['Furniture', 'Furniture'], ['Other', 'Other']]), { include_blank: true})  %><br />
  </div>

  <div class="field">
    <%= f.label :price %>
    <%= f.text_field :price %><br />
  </div>
  <div class="field">
    <%= f.label :contact %>
    <%= f.text_field :contact %><br />
  </div>

<div class="field">
  <%= f.label :image %>
  <%= f.file_field :image %><br />
</div>
<br />

<div class="actions">
    <%= f.submit class: 'btn btn-lg btn-success' %>
</div>
<% end %>
