<h1>Listing Posts</h1>

<div class="media">
    <div class="media-body">
        <table class="table table-hover">
            <thead>
              <tr>
                <th><%= sortable "name" %></th>
                <th>Description</th>
                <th><%= sortable "itemtype", "Item Type" %></th>
                <th><%= sortable "price", "Price ($)" %></th>
                <th>Contact</th>
                <th></th>
                <th></th>
                <th></th>
              </tr>
            </thead>

            <tbody>
                <% @posts.each do |post| %>
                  <tr>
                    <td><%= post.name %></td>
                    <td><%= post.description %></td>
                    <td><%= post.itemtype %></td>
                    <td><%= post.price %></td>
                    <td><%= post.contact %></td>
                    <td><%= link_to 'Show', post, class: 'btn btn-mini' %></td>
                    <td><%= link_to 'Edit', edit_post_path(post), class: 'btn btn-mini btn-success' %></td>
                    <td><%= link_to 'Destroy', post, method: :delete, class: 'btn btn-mini btn-danger', data: { confirm: 'Are you sure?' } %></td>
                  </tr>
                <% end %>
            </tbody>
        </table>
    </div>
</div>
<br />

<%= link_to 'New Post', new_post_path %>

