<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @post.name %>
</p>

<p>
  <b>Description:</b>
  <%= @post.description %>
</p>

<p>
  <b>Type:</b>
  <%= @post.itemtype %>
</p>

<p>
  <b>Price:</b>
  <%= @post.price %>
</p>

<p>
  <b>Contact:</b>
  <%= @post.contact %>
</p>

<% if @post.image? %>
  <%= image_tag @post.image.url %>
  <br />
  <!--<%= link_to @post.image.url, @post.image.url %>-->
<%end%>


<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
