<p id="notice"><%= notice %></p>

<p>
  <b>Status:</b>
  <%= @post.status %>
</p>

<p>
  <b>Name:</b>
  <%= @post.name %>
</p>

<p>
  <b>Description:</b>
  <%= @post.description %>
</p>

<p>
  <b>Type:</b>
  <%= @post.itemtype %>
</p>

<p>
  <b>Price:</b>
  <%= number_to_currency(@post.price) %>
</p>


<p>
  <b>Contact:</b>
  <%= @post.contact %>
</p>

<% if @post.image? %>
  <%= image_tag @post.image.url(:thumb) %>
  <br />
  <!--<%= link_to @post.image.url, @post.image.url %>-->
<%end%>


<%= link_to 'Edit', edit_post_path(@post), class: 'btn btn-mini btn-info' %> |
<%= link_to 'Back', posts_path, class: 'btn btn-mini btn-warning' %>
