<!DOCTYPE html>
<html>
<head>
  <title>Bantam E-Market</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <!--<p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>-->
</head>
<body>

<div class="container">
  <ul class="nav nav-tabs">
    <li> <%= link_to "Home", root_path, class: 'btn btn-medium' %> </li>
    <li> <%= link_to "All Posts", posts_path, class: 'btn btn-medium' %> </li>
    <li> <%= link_to "About Us", welcome_about_path, class: 'btn btn-medium' %> </li>
    <li> <%= link_to "Contact", welcome_contact_path, class: 'btn btn-medium' %> </li>
    <li> <%= link_to "FAQs", welcome_faq_path, class: 'btn btn-medium' %> </li>
    <li> <%= link_to('Logout', destroy_user_session_path, :method => :delete, class: 'btn btn-medium btn-success', data: { confirm: 'Are you sure you want to log out?'} ) %></li>
  </ul>

<% if notice %>
    <p class="alert alert-success"><%= notice %></p>
<% end %>

<% if alert %>
    <p class="alert alert-danger"><%= alert %></p>
<% end %>

<%= yield %>

</div>

</body>
</html>
